<% able_to? :publish_content do -%>
  <%= link_to span_tag(t 'Publish'), "#",
    :class => "http_put button disabled left", 
    :id => "publish_button" %>
<% end -%>

<%= link_to span_tag(t "View_Content"), "#",
  :id => "view_button", 
  :class => "button disabled#{ ' off' if action_name == 'show'} middle" %>
  
<%= link_to span_tag(t "Edit_Content"), "#",
  :id => "edit_button", 
  :class => "button disabled#{ ' off' if action_name == 'edit'} right" %>

<%= link_to span_tag(t "Add_New_Content"), cms_new_path_for(content_type),
  :id => "add_button", 
  :class => "spacer button#{ ' off' if action_name == 'new'}" %>
  
<%= link_to span_tag(t "List_Versions"), "#",
  :id => "revisions_button", 
  :class => "button #{ action_name == 'revisions' ? ' off' : ' disabled'}" %>
  
<%= link_to span_tag("<span class=\"delete_img\">&nbsp;</span>" + t("Delete")), "#", 
  :id => "delete_button", 
  :class => "spacer button disabled http_delete confirm_with_title", 
  :title => t(:ensure_delete) %>
